download/*
__pycache__/
.env*
*.json
*.session
*copy*
*.session-journal
docker_*
compose.dev
messages.txt
TODO.txt
tmp/*
config.ini
docker-compose.dev.yml
_download
download
series
telegram-downloader-bot/bottorrent.py
docker-compose.telethon.yml
