download/*
__pycache__/
.env*
*.json
*.session
*copy*
*.session-journal
*.txt
docker_*
compose.dev
tmp/*
config.ini
docker-compose.dev.yml
_download
download
series
telegram-downloader-bot/bottorrent.py
docker-compose.telethon.yml
update_readme.sh
