


<div id="data_telegram">


<table class="table table-striped table-responsive" id="asteroidTable">
    <thead>
        <tr>
            <th>group</th>
            <th>regex</th>
            <th>regex</th>
            <th>id</th>
            <th>date</th>
            <th>file_name</th>
            <th>caption</th>
            <th>width</th>
            <th>file_size</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for d in data %}
        <tr>
            <td>{{ d.group }}</td>
            <td>{% if group==True %}<i class="fa-solid fa-check" style="color:green"></i>{% else %}<i class="fa-solid fa-xmark" style="color:red"></i>{% endif %}</td>
            <td>{{ d.group }}</td>
            <td>{{ d.id }}</td>
            <td>{{ d.date }}</td>
            <td>{{ d.file_name }}</td>
            <td>{{ d.caption }}</td>
            <td>{{ d.width }}</td>
            <td>{{ human_readable_size(d.file_size) }}</td>
            <th><i id="i-{{d.id}}" class="fa-solid fa-download" {% if d.id in downloaded %} style="color:green" {% elif  regex[d.id]==False %} style="color:red" {% endif %} onclick="downloadFile('{{group}}',{{d.id}})"></i></th>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>



