



<div id="data_telegram" class="py-3">
    
    <div class="table-responsive">

        <table class="table table-sortable" id="asteroidTable">
            <thead>
                <tr>
                    <th>group</th>
                    <th>id</th>
                    <th>regex</th>
                    <th>file_size</th>
                    <th></th>
                    <th>width</th>
                    <th>rename</th>
                    <th>file_name</th>
                    <th>caption</th>
                    <th data-table-sortable-type="date">date</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td><a href="/edit/{{group}}">{{ group }}</a></td>
                    <td>{{ d.id }}</td>
                    <td>{% if regexDownload(group,d.file_name,d.caption,regex_download,regex_rename) %}<i class="fa-solid fa-check" style="color:green"></i>{% else %}<i
                            class="fa-solid fa-xmark" style="color:red"></i>{% endif %}</td>
                    <td class="nowrap">{{ human_readable_size(d.file_size) }}</td>
                    <td><i id="i-{{d.id}}" class="fa-solid fa-download" {% if ifDownloaded(group,d.id) %} style="color:green" style="color:red" {% endif %} onclick="downloadFile('{{group}}',{{d.id}})"></i></td>
                    <td class="nowrap">{{ d.width }}x{{d.height}}</td>
                    <td class="nowrap"><b>{{ regexRename(group,d.file_name,d.caption,regex_download,regex_rename) }}</b></td>
                    <td class="ellipsis">{{ d.file_name }}</td>
                    <td class="ellipsis">{{ d.caption }}</td>
                    <td class="nowrap">{{ d.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>