{% extends '_base.html' %}


{% block content %}


<div id="message"></div>

<div class="col-sm-12">

<form name="configdownload">

    <div class="form-group row p-1 align-items-center">

        <div class="col-sm-3">
            <label for="inputPassword4">Groups</label>
            <select id="inputState" class="form-control" onchange="location = this.value;">
                <option value="/detail/">Groups</option>
                {% for chat in chats|sort(attribute='title') %}
                <option value="/{{ chat.username }}" {% if chat.username|lower == group|lower %}selected="selected"{% endif %}>{{chat.title}} - {{chat.username}}</option>
                {% endfor %}
            </select>
        </div>

        {% if type=='edit' %}
        <!--
            <div class="col-sm-1 p-1 align-self-end">
                <i class="fa-solid fa-sync fa-2x" onclick="reload()"></i>
            </div>
        -->
        <div class="col-sm-2">
            <label for="inputPassword4">Regex download</label>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="/.*/" name="regex_download" value="{{configGroups[0].regex_download}}" onKeyUp="searchRerex()">
        </div>

        <div class="col-sm-4">
            <label for="inputPassword4">Regex rename</label>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="/(.*)/\1/" name="regex_rename" value="{{configGroups[0].regex_rename}}" onKeyUp="searchRerex()">
        </div>

        <div class="col-sm-2">
            <label for="inputPassword4">Folder download</label>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="/downloads" name="folder_download" value="{{configGroups[0].folder_download}}">
        </div>

        <input id="group" name="group" type="hidden" value="{{configGroups[0].group}}">
        <input id="ID" name="ID" type="hidden" value="{{configGroups[0].ID}}">
        <!-- <input id="data" name="data" type="hidden" value="{{data}}"> -->

        <div class="col-sm-1 py-1 align-self-end">
            <i class="fa-solid fa-floppy-disk fa-2x" onclick="saveRerex()"></i>
            <!-- <i class="ps-1 fa-solid fa-sync fa-2x" onclick="reload()"></i> -->
        </div>

        {% endif %}
    </div>
</form>


</div>




<div id="data_telegram">


{% include 'data_telegram.html' %}

</div>





<script>
    var intervalos = {};
    window.onload = (event) => {
        console.log("page is fully loaded");

        fetch('/getdb')
        .then(function(response) {
            return response.json();
        })
        .then(function(jsonData) {
            // Trabajar con el objeto JSON
            //console.log(jsonData.length);
            if (jsonData.length > 0){
                jQuery.each(jsonData, function(i, val) {
                    $("#i-" + val.message_id).css('color', 'rgb(149 131 39)');
                    crearIntervalo(val.message_id, 3000, "onload", val.message_id);
                });
            }
        })
        .catch(function(error) {
            console.log('Error al cargar el archivo JSON', error);
        });
    };



    function searchRerexx() {
        
        console.log(document.configdownload.group.value)
        console.log(document.configdownload)
        console.log($(document.configdownload).serialize())  
        console.log(decodeURIComponent($(document.configdownload).serialize()))  

        $.ajax({
            url: `/group/` + document.configdownload.group.value,
            data: $(document.configdownload).serialize(),
            type: "POST",
        }).done(function (response) { //
            alert(response)
            $('#data_telegram').empty();
            $("#data_telegram").html(response);
        });
    }

    function searchRerex() {
        
        console.log('group ' + document.configdownload.group.value)
        console.log('configdownload ' + document.configdownload)
        console.log($(document.configdownload).serialize())  
        console.log(decodeURIComponent($(document.configdownload).serialize()))  

        $.ajax({
            url: `/regex/get/` + document.configdownload.group.value,
            data: $(document.configdownload).serialize(),
            type: "POST",
        }).done(function (response) { //
            $('#data_telegram').empty();
            $("#data_telegram").html(response);
        });
    }

    function reload() {
        $(".fa-sync").addClass("fa-spin");

        console.log(document.configdownload.group.value)
        console.log(document.configdownload)
        console.log($(document.configdownload).serialize())  
        console.log(decodeURIComponent($(document.configdownload).serialize()))  

        $.ajax({
            url: `/reload/` + document.configdownload.group.value,
            data: $(document.configdownload).serialize(),
            type: "POST",
        }).done(function (response) { //
            $('#data_telegram').empty();
            $("#data_telegram").html(response);
            $(".fa-sync").removeClass("fa-spin");
        });

    }

    function myFunction(nombre, parametro1, parametro2) {
        console.log(nombre, parametro1, parametro2);
        fetch('/getdb')
        .then(function(response) {
            return response.json();
        })
        .then(function(jsonData) {
            // Trabajar con el objeto JSON
            //console.log(jsonData.length);
            if (jsonData.length > 0){
                jQuery.each(jsonData, function(i, val) {
                    //console.log('i: ' +val.message_id+' val: '+val.progress);
                    //$("#i-" + val.message_id).css('color', 'rgb(149 131 39)');
                    if (val.progress != null){
                        //$("#i-" + val.message_id).removeClass().addClass('test');
                        //$("#i-" + val.message_id).text("\n"+val.progress);
                        $("#i-" + val.message_id).css('color', 'rgb(149 131 39)');
                        document.getElementById("i-" + val.message_id).title = val.progress;
                    }
                    //$("#" + i).append(document.createTextNode(" - " + val));
                });
            }
            if (parametro1 == 'onload'){
                for (const [key, value] of Object.entries(intervalos)) {
                    //console.log('key ['+key+']', 'value ['+value+'] jsonData ['+jsonData+']');
                    const isKey1Value2 = jsonData.some(el => key === el.message_id)
                    if (!isKey1Value2){
                        detenerIntervalo(key)
                        $("#i-" + key).css('color', 'green');
                    }
                    
                }
            }

        })
        .catch(function(error) {
            console.log('Error al cargar el archivo JSON', error);
        });
    }

    function crearIntervalo(nombre, tiempo, parametro1, parametro2) {
        intervalos[nombre] = setInterval(function() {
            myFunction(nombre, parametro1, parametro2);
        }, tiempo);
    }

    function detenerIntervalo(nombre) {
        clearInterval(intervalos[nombre]);
        delete intervalos[nombre];
    }

    function downloadFile(group,message_id) {

        $("#i-" + message_id).css('color', 'rgb(149 131 39)');

        console.log(group)
        console.log(message_id)
        
        data = {'group':group, 'message_id':message_id}
        console.log(data)
        
        $.ajax({
            url: `/regex/downloadFile`,
            data: data,
            type: "POST",
            beforeSend: function() {
                // Guardar la hora de inicio de la petición y comenzar a actualizar el label
                crearIntervalo(message_id, 1000, "Hola", message_id);
            },
        }).done(function (response) { 
            console.log("response " + response['status'])
            //clearInterval(updateInterval);
            detenerIntervalo(message_id);

            if (response['status']=='continue') {
                $("#i-" + message_id).css('color', 'rgb(149 131 39)');
            }
            else if (response['status']) {
                $("#i-" + message_id).css('color', 'green');
            }
            else {
                $("#i-" + message_id).css('color', 'red');
            }
            $("#i-" + message_id).text('');
            $("#i-" + message_id).removeClass().addClass('fa-solid fa-download');
        }).fail(function (response) { //
            $("#i-" + message_id).text('');
            $("#i-" + message_id).css('color', 'red');            
            $("#i-" + message_id).removeClass().addClass('fa-solid fa-download');
        });
        

    }



    function saveRerex(message=true) {
        console.log(document.configdownload.group.value)
        console.log(document.configdownload)
        console.log($(document.configdownload).serialize())  
        console.log(decodeURIComponent($(document.configdownload).serialize()))  
        $.ajax({
            url: `/regex/set/` + document.configdownload.group.value,
            data: $(document.configdownload).serialize(),
            type: "POST",
        }).done(function (response) { //
            if (message){
                $('#message').html(`<div class="alert alert-warning alert-dismissible fade show" role="alert">Save configurations! 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>`);
            }
        });
    }




</script>
{% endblock %}


