{% extends '_base.html' %}


{% block content %}



<div class="col-sm-12">

<form name="configdownload">

    <div class="form-group row p-1 align-items-center">

        <div class="col-sm-5">
            <label for="inputPassword4">Groups {{group}}</label>
            <select id="inputState" class="form-control" onchange="location = this.value;">
                <option value="/detail/">Groups</option>
                {% for chat in chats|sort(attribute='title') %}
                <option value="/{{ chat.username }}" {% if chat.username|lower == group|lower %}selected="selected"{% endif %}>{{chat.title}} - {{chat.username}}</option>
                {% endfor %}
            </select>
        </div>

        <input id="group" name="group" type="hidden" value="{{group}}">

        <div class="col-sm-1 p-1 align-self-end">
            <i class="fa-solid fa-sync fa-2x" onclick="reload()"></i>
        </div>

    </div>
</form>


</div>

<div id="data_telegram">


{% include 'data_telegram.html' %}

</div>





<script>

    function searchRerex() {
        
        console.log(document.configdownload.group.value)
        console.log(document.configdownload)
        console.log($(document.configdownload).serialize())  
        console.log(decodeURIComponent($(document.configdownload).serialize()))  

        $.ajax({
            url: `/group/` + document.configdownload.group.value,
            data: $(document.configdownload).serialize(),
            type: "POST",
        }).done(function (response) { //

            $('#data_telegram').empty();
            $("#data_telegram").html(response);

        });

    }


    function reload() {
        $(".fa-sync").addClass("fa-spin");

        console.log(document.configdownload.group.value)
        console.log(document.configdownload)
        console.log($(document.configdownload).serialize())  
        console.log(decodeURIComponent($(document.configdownload).serialize()))  

        $.ajax({
            url: `/reload/` + document.configdownload.group.value,
            data: $(document.configdownload).serialize(),
            type: "POST",
        }).done(function (response) { //
            $('#data_telegram').empty();
            $("#data_telegram").html(response);
            $(".fa-sync").removeClass("fa-spin");
        });

    }


    function downloadFile(group,message_id) {

        $("#i-" + message_id).css('color', 'rgb(149 131 39)');

        console.log(group)
        console.log(message_id)
        
        data = {'group':group, 'message_id':message_id}
        console.log(data)
        
        $.ajax({
            url: `/regex/downloadFile`,
            data: data,
            type: "POST",
        }).done(function (response) { //
            alert(response['status'])

            if (response['status']) {
                $("#i-" + message_id).css('color', 'green');
            }
            else {
                $("#i-" + message_id).css('color', 'red');
            }

        }).fail(function (response) { //
            $("#i-" + message_id).css('color', 'red');            
        });


    }








</script>
{% endblock %}


