

.container-fluid {
    font-size: 14px;
}

.ellipsis {
    /*max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;*/
}
.nowrap {
    /*max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;*/
    white-space: nowrap;
}

.navbar-brand {

    padding-left: 55px;
}

.alert-error {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    border: 2px solid darkred;
    background-color: red;
    color: white;
  }
  

progress {
    width: 50px;
    min-width: 100%;
  }
  