[DEFAULT_PATH]
hastaencontrarte = /download/

[REGEX_DOWNLOAD]
hastaencontrarte = grupo_name _ Capítulo

[REGEX_CAPTION]
hastaencontrarte = /^Cap[ií]tulo.+?(\d{3,4})/i

[REGEX_RENAME]
hastaencontrarte = /grupo_name.+?(\d{1}).+?(\w{3}$)/0\1.\2/

[CHANNELS]
hastaencontrarte
grupo_name_2
grupo_name_3
grupo_name

